<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <table id="list">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>FlightNo</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach((flight) => { %>
      <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.flightNo %></td>
        <td><%= flight.departs %></td>
        <td>
          <a href="/flights/<%= flight._id %>">DETAILS</a>
        </td>
        <td>
          <form action="/flights/<%= flight._id %>?_method=DELETE" class="delete-form" method="POST">
            <button id="delete-btn" class="fas fa-trash-alt" type="submit"></button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>